wp-*
bitrix*
netcat*
fck*
components*
www.zip
backup.zip
public_html.zip
*.tar.gz

administrator*
admin.php
admin/index.php
admin/login.php

sys*
old*
manage*
editor*
webadmin*
phpMyAdmin*

*.cgi
cgi*
wso*

payload.php
so.php
formas.php
aul.php
rxr.php
wp-caches.php
sec.php
alpha.php
u.php
searchreplacedb2.php
d7.php
_.php
pplugins.php

*.sql
*.swf
*config.php
*.wsf
*.ssh

wp/wp-*
wordpress/wp-*

*.asp
*.cgi
*.jsp
*.inc.php
*.php.html
*.phps

*UNION ALL SELECT*
*SELECT DBMS_PIPE.RECEIVE_MESSAGE*
*SELECT SLEEP(*
*SELECT PG_SLEEP(*
*(SELECT (*
*SELECT COUNT(*

*settings.php*

elrekt.php
_adminer
_adminer.php
accesson.php
agentui.php